.main-container {
  margin-left: 800px;
  margin-top: 350px;
  justify-content: center;
  align-items: center;
  background-color: #8EACCB; ;
  width: 1290px;
  height: 661px;
  
  
}

.header1 {
  
  margin-left: 270px;
  font-size: 60px;
  font-family: javanese text;
  
}

.email1 {
  color: #000;
font-family: Inter;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: normal;
width: 260px;
height: 38px;
flex-shrink: 0;
border-radius: 15px;
background: #FFF;
margin-top: 12%;
margin-left: 5%;
border: none;
}

.password1 {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  width: 260px;
height: 38px;
flex-shrink: 0;
border-radius: 15px;
background: #FFF;
margin-left: 5%;
border: none;
}

.main-contaner1 {
  margin-left: 350px;
  justify-content: center;
  align-items: center;
  width: 990px;
height: 661px;
background: #8EACCB;
}

.header {
  margin-left: 100px;
  font-size: 60px;
  font-family: javanese text;
}

.seat1 {
  display: flex;
  flex-direction: row;
  
}

.name {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  width: 260px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFF;
  margin-top: 5%;
margin-left: 5%;
border: none;
}

.email {
  color: #000;
font-family: Inter;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: normal;
width: 260px;
height: 38px;
flex-shrink: 0;
border-radius: 15px;
background: #FFF;
margin-left: 5%;
border: none;
}

.password {
  color: #000;
font-family: Inter;
font-size: 16px;
font-style: italic;
font-weight: 400;
line-height: normal;
width: 260px;
height: 38px;
flex-shrink: 0;
border-radius: 15px;
background: #FFF;
margin-left: 5%;
border: none;
}

.SignUp {
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 199px;
height: 52px;
flex-shrink: 0;
border-radius: 15px;
background: #E7B10A;
margin-left: 50px;
border: none;
}

.Already {
  color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 0px;
}


.success-message {
  color: green;
  font-size: 14px;
}


.error-message {
  color: red;
  font-size: 14px;
}


.login {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 199px;
height: 52px;
flex-shrink: 0;
border-radius: 15px;
background: #E7B10A;
margin-left: 40px;
margin-top: 20px;
border: none;

}

.Register {
  color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 0px;
}

/* Validation success message */
.success-message {
  color: green;
  font-size: 14px;
}

/* Validation error message */
.error-message {
  color: red;
  font-size: 14px;
}


.container1 {
  background-color:#C9C9C9;
  margin-left: 100px;
  width: 30%;
  
}

.container2 {
background: #C9C9C9;
margin-left: 100px;
}

.container3 {
  background-color:#C9C9C9;
  margin-left: 1100px;
}

.seat{
  display: flex;
  margin-left: 150px;

}

.welcome {
  position: absolute;
  z-index: 20px;
  color: #FFF;
font-family: Italiana;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
width: 520px;
height: 130px;
flex-shrink: 0;
}

.entrence {
  width: 340px;
height: 228px;
flex-shrink: 0;
margin-left: 150px;
margin-top: 40px;
}
.Explore {
  display: flex;
}

.vast {
  width: 710px;
height: 117px;
flex-shrink: 0;
color: #000;
font-family: Inria Serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left: 100px;
}

.breath {
  width: 785px;
height: 219px;
flex-shrink: 0;
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-left: 100px;
margin-top: -80px;
}

.Accom {
  margin-left: 550px;
  font-size: 64px;
  font-family: Inria Serif;
}

.room1 {
  width: 450px;
height: 230px;
flex-shrink: 0;
margin-left: 150px;
margin-top: 90px;
}

.presidential {
  width: 409px;
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left: 250px;
}

.presidentialText {
  width: 415px;
height: 200px;
flex-shrink: 0;
color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-left: 150px;
}

.room2 {
  width: 450px;
height: 230px;
flex-shrink: 0;
margin-left: 150px;
margin-top: 90px;
}

.sharing {
  width: 378px;
height: 226px;
flex-shrink: 0;
color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left: 290px;
}

.sharingText {
  width: 386px;
height: 203px;
flex-shrink: 0;
color: #000;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-top: -200px;
margin-left: 150px;
}

.room3 {
  width: 450px;
height: 230px;
flex-shrink: 0;
margin-left: 150px;
margin-top: 90px;
}

.single {
  width: 386px;
  color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-left: 280px;
}

.singleText {
  width: 402px;
  color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
margin-left: 150px;
}

.facilities {
  width: 1006px;
height: 47px;
flex-shrink: 0;
color: #000;
font-family: Jacques Francois;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-left: 650px;
}

.border1 {
  width: 1229px;
height: 137px;
flex-shrink: 0;
background: #8EACCB;
margin-left: 400px;
}

.wifi {
  width: 72px;
height: 72px;
flex-shrink: 0;
border-radius: 72px;
margin-left: 70px;
margin-top: 5px;
}

.massage {
  width: 72px;
height: 72px;
flex-shrink: 0;
margin-left: 70px;
}

.pool {
  width: 72px;
height: 72px;
flex-shrink: 0;
margin-left: 70px;
}

.gym {
  width: 72px;
height: 72px;
flex-shrink: 0;
margin-left: 70px;
}

.restaurant {
  width: 72px;
height: 72px;
flex-shrink: 0;
margin-left: 70px;
}

.bar {
  width: 72px;
height: 72px;
flex-shrink: 0;
margin-left: 70px;
}

.sauna {
  width: 72px;
height: 72px;
flex-shrink: 0;
margin-left: 70px;
}

.kitchen {
  width: 72px;
height: 72px;
flex-shrink: 0;
margin-left: 70px;
}

.socialText {
  color: #000;
font-family: Jacques Francois;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-left: 650px;
}

.border2 {
  width: 1427px;
height: 218px;
flex-shrink: 0;
background: #8EACCB;
margin-left: 300px;
}

.instagram {
  width: 90px;
height: 84.935px;
margin-left: 590px;
}

.whatsapp {
  width: 90px;
height: 87.261px;
margin-left: 170px;
}

.facebook {
  width: 90px;
height: 96.545px;
flex-shrink: 0;
margin-left: 170px;
}

.twitter {
  width: 90px;
height: 87.261px;
flex-shrink: 0;
margin-left: 170px;
}

.protea {
  width: 379px;
height: 119px;
flex-shrink: 0;
}

.container {
  color: black;
}

.reset {
  font-weight: bold;
}

.RoomContainer {
  margin-left: 50px;
}

.protea2 {
  margin-left: 450px;
}

.logoProtea {
  margin-right: 50px;
}

.RoomHeader1 {
  font-size: 64px;
  font-family:'Jacques Francois'; 
  margin-left: 1000px;

}

.Description1 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.view1 {
  width: 390px;
  margin-right: 5%;
}

.view2 {
  width: 390px;
  margin-right: 5%;
}

.view3 {
  width: 390px;
  margin-right: 5%;
}

.features {
    width: 1006px;
height: 47px;
flex-shrink: 0;
color: #000;
font-family: Jacques Francois;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-left: 800px;
}

.logoProtea {
  margin-left: 490px;
}

.Summary {
  font-size: 84px;
  margin-left: 50px;
  margin-top: 50px;
}

.date {
  margin-left: 80px;
}

.check-in {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  width: 160px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
  margin-left: 2%;
  border: none;
}

/* BookingSummary.css */

.border-room-type-border {
  height: 150px;
}

.Summary {
  text-align: center;
  color: #333;
}

.app-container {
  background-image:url('../src/Assets/1516299055-presidential-cape-town1.jpg');
  background-size: cover;
  background-position: cover;
  height: 100vh;
}

.border {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  margin-left: 500px;
  height: 150px;
  width: 1529px;
  height: 137px;
  flex-shrink: 0;
  background: #8EACCB;
  
}

.section {
  flex: 1;
  margin-right: 15px;
  font-size: 24px;
}

.section-heading {
  margin-bottom: 5px;
  color: #555;
  margin-left: 20px;
  font-size: 24px;
}

.check-in {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Add this to your existing styles */
.top-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  
}

.nav-button {
  margin-left: 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  padding: 8px 12px;
  border-radius: 5px;
}

/* Style the buttons as needed */
.nav-button:hover {
  background-color: #0056b3;
}

.room-type {
  font-size: 24px;
}

/* RoomDetails.css */

.bookingButton {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 600px;
}

.bookingButton:hover {
  background-color: #E7B10A;
}
/*admin css*/

.protea3 {
  margin-left: 750px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

.admin-page {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

.page-heading {
  color: #333;
  align-items: 'center';
  margin-left: 5px;
}

.admin-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.section-heading {
  color: #333;
  font-size: 29px;
}

.info-item {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.update-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.update-button:hover {
  background-color: #0056b3;
}
/*new admin css*/
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #f1ecf3;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color:rgb(82, 80, 77);
  border-radius: 30px;
}

td {
  background-color: rgb(207, 202, 195);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}
button{
  border-radius: 30px;
}


 BookingConfirmation.css 
.app-container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.luxurious-summary {
  color: #6b3e26; 
  align-self: center;
  font-family: "Georgia", serif;
  font-size: 64px;
}

.luxurious-confirmation-details {
  margin-top: 20px;
  align-self: center;
  color: black;
  font-size: 64px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

